@font-face {
  font-family: 'Kiona';
  font-weight: 400;
  font-display: swap;
  src: url('../../static/fonts/Kiona-Regular.ttf')
}

@font-face {
  font-family: 'Kiona';
  font-weight: bold;
  font-display: swap;
  src: url('../../static/fonts/Kiona-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../../static/fonts/Montserrat-Light.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../../static/fonts/Montserrat-LightItalic.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../../static/fonts/Montserrat-SemiBold.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('../../static/fonts/Montserrat-SemiBoldItalic.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../../static/fonts/Montserrat-Bold.woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../../static/fonts/Montserrat-BoldItalic.woff2');
}
