@font-face {
  font-family: 'Kiona Bold';
  src: url('../fonts/Kiona-Bold.ttf');
}

@font-face {
  font-family: 'Kiona Regular';
  src: url('../fonts/Kiona-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/Montserrat-LightItalic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  src: url('../fonts/Montserrat-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Montserrat-BoldItalic.ttf');
}
