@font-face {
  font-family: 'Kiona';
  font-weight: 400;
  font-display: swap;
  src: url('../../static/fonts/Kiona-Regular.ttf')
}

@font-face {
  font-family: 'Kiona';
  font-weight: bold;
  font-display: swap;
  src: url('../../static/fonts/Kiona-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../../static/fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../../static/fonts/Montserrat-LightItalic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../../static/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('../../static/fonts/Montserrat-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../../static/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../../static/fonts/Montserrat-BoldItalic.ttf');
}
